@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed';
@import 'https://fonts.googleapis.com/css?family=Raleway';

html, body {
    font-family: helvetica, arial, verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #487FD9;
    background: url("/images/use_your_illusion.png");
    background-attachment: fixed;
    height: 100%;
    white-space: nowrap;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", "Open Sans Condensed";
    font-weight: normal;
}

h1 {
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.1em;
    font-size: 40px;
}

h2 {
    text-align: center;
    padding-bottom: 0.1em;
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

.banner {
    width: 100%;
    /*height: 250px;*/
    /*overflow: hidden;*/
    /*background-size: cover;*/
    /*background-position: center;*/
}

i {
    color: #487FD9;
}

#sidebar i {
    color: white;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    min-width: 200px;
    width: 250px;
    background: #202020;
    white-space: normal;
    box-shadow: 0px 2px 10px black;
    overflow-x: hidden;
    overflow-y: hidden;
    color: white;
}

#sidebar:hover {
    overflow-y: scroll;
    min-width: 267px;
    width: 267px;
}

#sidebar-spacer {
    margin: 0;
    min-width: 240px;
    width: 240px;
    display: inline-block;
}

#sidebar .portrait {
    width: 65%;
    padding-bottom: 65%;
    border-radius: 100em;
    border: 3px solid white;
    margin: 1em auto;
    cursor: pointer;
    overflow: hidden;
    height: 0;
}

#sidebar .portrait a img {
    width: 100%;
}

#sidebar a.return-to-home {
    display: block;
    padding: 1em;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    transition: all 0.4s;
}


#sidebar .social-buttons {
    text-align: center;
    margin: 0.8em 0 0.5em;
}

#sidebar .social-buttons > a {
    font-size: 30px;
    margin: 0 0.2em;
}

#sidebar .social-buttons > a i {
    transition: all 0.4s;
}

#sidebar .social-buttons > a:hover i {
    color: #487FD9;
}

#sidebar nav {
    margin: 1em 0;
    display: flex;
    flex-wrap: wrap;
}

#sidebar nav a {
    flex: 1;
    min-width: 30%;
    padding: 0.5em;
    white-space: nowrap;
    text-align: center;
    transition: all 0.4s;
}

#sidebar nav a:hover, #sidebar a.return-to-home:hover {
    text-decoration: none;
    background-color: #487FD9;
}

#sidebar hr {
    border: none;
    border-top: 1px solid #777;
}

#sidebar .sidebar-fields {
    padding: 0 1.5em 0 1.5em;
    box-sizing: border-box;
}

#sidebar h3:first-child {
    margin-top: 0.5em;
}

#sidebar h3 {
    margin: 2em auto 0.5em auto;
}

#sidebar .tag-cloud a {
    color: #487FD9;
}

#sidebar .tag-cloud {
    font-size: 12px;
    word-spacing: 0.5em;
}

#sidebar .skill-bar {
    margin: 0.5em 0 1em 0;
    width: 100%;
    height: 4px;
    background-color: #333;
    /*border: 1px solid #777;*/
}

#sidebar .skill-bar > div {
    background-color: #487FD9;
    height: 100%;
    width: 0;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 0.5s;
}

#sidebar .skill-bar > div.s1-5-bar {
    animation-name: skill-fill-1;
}

#sidebar .skill-bar > div.s2-5-bar {
    animation-name: skill-fill-2;
}

#sidebar .skill-bar > div.s3-5-bar {
    animation-name: skill-fill-3;
}

#sidebar .skill-bar > div.s4-5-bar {
    animation-name: skill-fill-4;
}

#sidebar .skill-bar > div.s5-5-bar {
    animation-name: skill-fill-5;
}

@keyframes skill-fill-1 {
    0% {
        width: 0%;
    }
    100% {
        width: 20%;
    }
}

@keyframes skill-fill-2 {
    0% {
        width: 0%;
    }
    100% {
        width: 40%;
    }
}

@keyframes skill-fill-3 {
    0% {
        width: 0%;
    }
    100% {
        width: 60%;
    }
}

@keyframes skill-fill-4 {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

@keyframes skill-fill-5 {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

#sidebar .name {
    color: white;
    text-align: center;
    font-family: "Raleway";
    font-weight: normal;
    font-size: 30px;
}

#sidebar .name a {
    text-decoration: none;
}


#content {
    margin: 0;
    width: 60%;
    min-width: 300px;
    display: inline-block;
    background-color: white;
    min-height: 100%;
    white-space: normal;
}

#content .content-pad {
    padding-left: 2em;
    padding-right: 1.5em;
}

#footer {
    width: 100%;
    text-align: center;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-card {
    flex: 1;
    max-width: 250px;
    min-width: 200px;
    margin: 1em;
    border-radius: 0.2em;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.8);
    transition: all 0.5s;
}

.project-card:hover {
    box-shadow: 2px 2px 18px rgba(0,0,0,1);
}

.project-card .text-container {
    padding: 0.4em;
    padding-top: 0;
}

.project-card .links .link-separator {
    display: inline;
}

.project-card .links .link-separator:last-child,
.project-card .links .link-separator:first-child,
.project-card .links .link-separator:nth-child(2) {
    display: none;
}

.project-card .img-container {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    height: 0;
    background-color: black;
}

.project-card .img-container img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}

.project-card h2 {
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: normal;
    font-size: 24px;
}

.two-column {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.two-column > div {
    flex: 1;
}

.two-column .posts-column {
    min-width: 300px;
    flex-grow: 3;
    line-height: 150%;
    font-size: 105%;
}

.two-column .projects-column {
    margin-left: 3em;
    flex-grow: 1;
    /*max-width: 20%;*/
}

.post-teaser {
    margin: 2em 0;
}

.post-teaser .teaser-banner {
    width: 100%;
    overflow: hidden;
    height: 150px;
    background-size: cover;
    background-position: center;
    margin-top: 1.5em;
}

.post-teaser .overlay {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 100px, rgba(255,255,255,1));
}

.post-teaser a.title {
    font-size: 18px;
}

.post-teaser span.date {
    font-style: italic;
    font-size: 12px;
}

.post-teaser .teaser {
    color: #555;
    font-size: 15px;
    padding-left: 2em;
    box-sizing: border-box;
}

.post-teaser span.tags {
    margin-left: 1em;
}

a {
    color: #487FD9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#sidebar a {
    color: white;
}

.post {}

.post .content {
    line-height: 150%;
    font-size: 105%;
}

.post .share {}

.post .info {
    line-height: 150%;
    text-align: right;
    margin: 1.5em 0;
}

.post .info .spacer {
    margin-right: 1em;
}

.post h1, .post h2, .post h3, .post h4, .post h5, .post h6,
.teaser h1, .teaser h2, .teaser h3, .teaser h4, .teaser h5, .teaser h6 {
    font-family: "Raleway", "Open Sans Condensed";
    font-weight: bold;
    text-align: left;
    border: none;
    margin: 1.5em 0 1em 0;
}

.post h1 {
    font-size: 36px;
}

.post h1.post-title {
    text-align: center;
    margin: 0.5em 0em;
    font-size: 42px;
}

.teaser h1, .teaser h2, .teaser h3, .teaser h4, .teaser h5, .teaser h6 {
    font-weight: normal;
    color: #999;
}

.sourceCode {
    background-color: #202020;
    color: white;
}

.sourceCode.haskell .ot { color: #55ff55; }
.sourceCode.haskell .dt { color: violet; }
.sourceCode.haskell .kw { color: #ff5555; }
.sourceCode.haskell .st { color: #ffff55; }
