$for(posts)$
    <div class="post-teaser">
        <a href="$url$" class="title">$title$</a>
        <span class="date">
            - $date$
            <span class="tags">
                <i class="fa fa-tags" aria-hidden="true"></i> $tags$
            </span>
        </span>
        <div class="teaser">
            $if(banner)$
                <div class="teaser-banner" style="background-image: url('$banner$');">
                    <div class="overlay"></div>
                </div>
            $endif$
            $if(teaser)$
                $teaser$
                <a href="$url$">Read more...</a>
            $else$
                $body$
            $endif$
        </div>
    </div>
$endfor$
